<section id="drinkSection">
  <div id="drinkSearch">
    <span>
      <p> Drink: </p><input type="text" [(ngModel)]="searchParams.query" required name="query" />
    </span>
    <div>
      <button class="btn drinkButton" (click)="searchProducts()">Search Drinks</button>
    </div>
  </div>
  <div *ngIf="products && products.length > 0 && !hideProducts">
    <span id="productList" *ngFor="let product of products">
       <img src="{{product.getImgUrl()}}">
       <h4>{{product.getName()}}</h4>
       <h4>{{product.getProducerName()}}</h4>
       <button class="btn drinkBtn" (click)="selectProduct(product)">select</button>
     <br/>
    </span>
  </div>
</section>

<section id="storeSection">
  <div *ngIf="selectedProduct" >
    <!-- hide form upon submission -->
    <button class="btn shopButton" (click)="searchStores()">The Hunt is On!</button>
  </div>

  <div class="storeListHolder" *ngIf="stores && stores.length > 0">
    <span id="storeList" *ngFor="let store of stores">
      <h4> Shop {{stores.indexOf(store) + 1}} : </h4>
       <h4>Lat: {{store.getLatitude()}}</h4>
       <h4>Lon: {{store.getLongitude()}}</h4>
       <br/>
    </span>
  </div>
  <div id="mapholder">
    <div id="map"></div>
  </div>
</section>
